.nav-container {
  /* position: fixed;
  top: 0;
  width: 100%;
  z-index: 50; */
  display: flex;
  justify-content: space-between;

  height: 60px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 31, 104, 0.3);
}

.nav-item {
  font-size: medium;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: auto 8px;
  border: none;
  cursor: pointer;
  background: transparent;
  color: rgb(176, 172, 199);
  z-index: 2;
  transition: background 0.2s ease, color 0.2s ease;
}

/* active color only */
.nav-item.active {
  color: #fff;
  background: #915a5a;
}
